{% extends 'base.html' %}

{% load static %}

{% block title %}Courses{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/course_list.css' %}">

<div class="container mt-5">
    <div class="row">
        {% for course in courses %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if course.course_image %}
                    <img class="card-img-top" src="{{ course.course_image.url }}" alt="{{ course.course_name }}">
                {% else %}
                    <!-- Display a default image or nothing if no image is available -->
                    <img class="card-img-top" src="{% static 'static/images/default_course.png' %}" alt="Default Image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ course.course_name }}</h5>
                    <p class="card-text">{{ course.course_description }}</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <i class="fas fa-clock"></i> {{ course.duration }} Hours
                        </div>
                        <div class="col">
                            <i class="fas fa-book-open"></i> {{ course.lessons_count }} Lessons
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-transparent">
                    <a href="{% url 'course_detail' course.id %}" class="btn btn-primary">Course Details</a>
                    <a href="#" class="btn btn-success">Start Learning</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
