{% extends '_base.html' %} 

{% block content %}
<div class="container mt-5">
  <div class="row">
    <!-- Loop through the courses -->
    {% for course in courses %}
    <div class="col-md-6 mb-4">
      <div class="card course-card">
        <img src="{{ course.img.url }}" class="card-img-top" alt="Course Image">
        <div class="card-body">
          <h5 class="card-title">{{ course.course_name }}</h5>
          <p class="card-text">{{ course.course_description }}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Duration: {{ course.duration }}</li>
            <li class="list-group-item">Lessons: {{ course.lessons_count }}</li>
          </ul>
          <div class="card-body">
            <a href="{% url 'course_detail' course.id %}" class="btn btn-primary">Course Details</a>
            <a href="#" class="btn btn-secondary">Start Learning</a>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{ course.category }}</small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
