{% extends "base.html" %}

<title>{% block title %}Sign Up{% endblock %}</title>

{% block content %}

<h2>Signup</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    <label for="confirm_password">Confirm Password:</label>
    <input type="password" name="confirm_password" required>
    <!-- Add other fields as necessary -->
    <button type="submit">Signup</button>
</form>

{% endblock %}
